@use "../abstracts" as *;
@use "../base" as *;
.navbar{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding: 0.85em 0 0 0.65em;
  background-color: map-get($colors ,primary);
  .navbar_button_container{
    display: flex;
  }
  height: 3em;
}